<%= form_for(@day) do |f| %>
  <% if @day.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@day.errors.count, "error") %> prohibited this day from being saved:</h2>

      <ul>
      <% @day.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :number %><br />
	<select id="day_number" name="day[number]">
	  <option value="1">1</option>
	  <option value="2">2</option>
	  <option value="3">3</option>
	</select>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
