<%= form_for(@investor) do |f| %>
  <% if @investor.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@investor.errors.count, "error") %> prohibited this investor from being saved:</h2>

      <ul>
      <% @investor.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.text_field :first_name, :class => "forms", :value => "First Name", :onFocus => "if(this.value==this.defaultValue) this.value='';", 
	:onBlur => "if(this.value=='') this.value=this.defaultValue;" %>
  </div>
  <div class="field">
    <%= f.text_field :last_name, :class => "forms", :value => "Last Name", :onFocus => "if(this.value==this.defaultValue) this.value='';", 
	:onBlur => "if(this.value=='') this.value=this.defaultValue;" %>
  </div>
  <div class="field">
    <%= f.text_field :email, :class => "forms", :value => "Email", :onFocus => "if(this.value==this.defaultValue) this.value='';", 
	:onBlur => "if(this.value=='') this.value=this.defaultValue;" %>
  </div>
  <div class="field">
    <%= f.text_field :phone, :class => "forms", :value => "Phone", :onFocus => "if(this.value==this.defaultValue) this.value='';", 
	:onBlur => "if(this.value=='') this.value=this.defaultValue;" %>
	
	<%= f.hidden_field :entries, :value => 1 %>
  </div>
  <div class="actions">
    <%= f.submit :class => "roll-button", :value => ""%>
  </div>
<% end %>
