<h1>Listing investors</h1>

<table>
  <tr>
    <th>First name</th>
    <th>Last name</th>
    <th>Email</th>
    <th>Phone</th>
    <th>Prize</th>
    <th>Prize2</th>
    <th>Entries</th>
    <th>Created At</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @investors.each do |investor| %>
  <tr>
    <td><%= investor.first_name %></td>
    <td><%= investor.last_name %></td>
    <td><%= investor.email %></td>
    <td><%= investor.phone %></td>
    <td><%= investor.prize.name %></td>
    <td><% if investor.prize2 != nil %>
	<%= investor.prize2.name %>
	<% end %></td>
    <td><%= investor.entries %></td>
    <td><%= investor.created_at.strftime('%m/%d/%y %I:%M') %></td>
    <td><%= link_to 'Show', investor %></td>
    <td><%= link_to 'Edit', edit_investor_path(investor) %></td>
    <td><%= link_to 'Destroy', investor, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>
<br />

<a href="/preregs">Add a preregistrant</a><Br/>
<%= link_to 'New Investor', new_investor_path %>
<a href="/days/1/edit">Set the odds</a>
<br/>The odd number is currently: <%= @day.number %>
<a href="/customs/1/edit">Set the CUSTOM EMERGENCY NUMBERS - ODDS MUST BE SET TO 6</a>
