<div class="header"><a href="/"><div class="logo"></div></a></div>
<div class="middle">
	<div class="flag" style="color:#fff;font-size:18px;line-height:27px;">
		
		

		  <div class="field">
		    Hey <%= @investor.first_name %> <%= @investor.last_name %>! Thanks for entering our contest! 
		  </div>
		  <div class="field">
		     <b>Prize (1):</b>
				<% if @investor.prize_id == 2 %>
				YOU WON AN APPLE PRODUCT
				<% elsif @investor.prize_id == 1 %>
				You won a shirt and a hat
				<% elsif @investor.prize_id == 3 %>
				You won a shirt or a hat
				<% elsif @investor.prize_id == 4 %>
				You didnt win shit.
				<% end %>
		  </div>
			<% if @prereg != nil %>
		  <div class="field">
		     <b>Prize (2):</b>
				<% if @investor.prize2_id == 2 %>
				YOU WON AN APPLE PRODUCT
				<% elsif @investor.prize2_id == 1 %>
				You won a shirt and a hat
				<% elsif @investor.prize2_id == 3 %>
				You won a shirt or a hat
				<% elsif @investor.prize2_id == 4 %>
				You didnt win shit.
				<% end %>
		  </div>
			<% end %>
		  <div class="field">
		   You've entered <%= @investor.entries %> times
		  </div>
		<% if @prereg != nil && @investor.entries <= 1 %>
		but because you pre-registered, <strong>you get enter again!</strong>
		  <div class="actions">
		    <a href="<%= roll_again_investor_path(@investor)%>"><div class="roll-button"></div></a>
		  </div>
		<% end %>
		
	</div>
</div>



<!--><p id="notice"><%= notice %></p>

<p>
  <b>First name:</b>
  <%= @investor.first_name %>
</p>

<p>
  <b>Last name:</b>
  <%= @investor.last_name %>
</p>

<p>
  <b>Email:</b>
  <%= @investor.email %>
</p>

<p>
  <b>Phone:</b>
  <%= @investor.phone %>
</p>

<p>
  <b>Prize (<%= @investor.prize_id %>):</b>
	<% if @investor.prize_id == 2 %>
	YOU WON AN APPLE PRODUCT
	<% elsif @investor.prize_id == 1 %>
	You won a shirt and a hat
	<% elsif @investor.prize_id == 3 %>
	You won a shirt or a hat
	<% elsif @investor.prize_id == 4 %>
	You didnt win shit.
	<% end %>
  
</p>

<p>
  <b>Prize2:</b>
  <%= @investor.prize2_id %>
</p>

<p>
  <b>Entries:</b>
  <%= @investor.entries %>
</p>

Today is day number: <%= @day.number %><br/>


<%= link_to 'Edit', edit_investor_path(@investor) %> |
<%= link_to 'Back', investors_path %>
-->