<div class="header"><a href="/"><div class="logo"></div></a></div>
<div class="middle">
	<div class="flag" style="color:#fff;font-size:18px;line-height:27px;">
		<img src="/images/right-side-text.png" style="float:right;margin:-60px -290px 0 0;">
		
		  <div class="field">
		    Thanks for entering our contest.
		  </div>
		  <div class="field">
				<% if @investor.prize_id == 2 %>
					<% if @apple.prize_count == 1 %>
					 Congratulations <%= @investor.first_name %>! You’ve just won an Apple TV. Yippee!
					<% elsif  @apple.prize_count == 2 %>
					 Congratulations <%= @investor.first_name %>! You’ve just won an Apple iPod. Way to go!
					<% elsif  @apple.prize_count == 3 %>
					 Congratulations <%= @investor.first_name %>! You’ve just won an Apple iPad. Wahoo!
					<% end %>
				<% elsif @investor.prize_id == 1 %>
				 Congratulations <%= @investor.first_name %>! You’ve just won a Currensee hat and t-shirt. Let us be the first to say, you are looking good!
				<% elsif @investor.prize_id == 3 %>
				 Congratulations <%= @investor.first_name %>! You’ve just won some cool Currensee gear. It’s a tough decision t-shirt or hat, what will you choose?
				<% elsif @investor.prize_id == 4 %>
				We’re very sorry but you didn’t win anything. Don’t cry though, think of how fun this was! 
				<% end %>
		  </div>
			<% if @prereg != nil %>
		  <div class="field">
				<% if @investor.prize2_id == 2 %>
					<% if @apple.prize_count == 1 %>
					 Congratulations <%= @investor.first_name %>! You’ve just won an Apple TV. Yippee!
					<% elsif  @apple.prize_count == 2 %>
					 Congratulations <%= @investor.first_name %>! You’ve just won an Apple iPod. Way to go!
					<% elsif  @apple.prize_count == 3 %>
					 Congratulations <%= @investor.first_name %>! You’ve just won an Apple iPad. Wahoo!
					<% end %>
				<% elsif @investor.prize2_id == 1 %>
				 Congratulations <%= @investor.first_name %>! You’ve just won a Currensee hat and t-shirt. Let us be the first to say, you are looking good!
				<% elsif @investor.prize2_id == 3 %>
				 Congratulations <%= @investor.first_name %>! You’ve just won some cool Currensee gear. It’s a tough decision t-shirt or hat, what will you choose?
				<% elsif @investor.prize2_id == 4 && @investor.prize_id == 4 %>
				Our sincerest apologies but you still didn’t win, better luck at the next show! 
				<% elsif @investor.prize2_id == 4 && @investor.prize_id != 4 %>
				We’re very sorry but you didn’t win anything. Don’t cry though, think of how fun this was! 
				<% end %>
		  </div>
			<% end %>
		  <!--div class="field">
		   You've entered <%= @investor.entries %> times
		  </div-->
		<% if @prereg != nil && @investor.entries <= 1 %>
		Lucky you, since you pre-registered you get another chance to win a prize!</strong>
		  <div class="actions">
		    <a href="<%= roll_again_investor_path(@investor)%>"><div class="roll-button"></div></a>
		  </div>
		<% end %>
		
	</div>
</div>
<div class="dudes"><img src="/images/bottom-dudes.png"></div>



<!--><p id="notice"><%= notice %></p>

<p>
  <b>First name:</b>
  <%= @investor.first_name %>
</p>

<p>
  <b>Last name:</b>
  <%= @investor.last_name %>
</p>

<p>
  <b>Email:</b>
  <%= @investor.email %>
</p>

<p>
  <b>Phone:</b>
  <%= @investor.phone %>
</p>

<p>
  <b>Prize (<%= @investor.prize_id %>):</b>
	<% if @investor.prize_id == 2 %>
	YOU WON AN APPLE PRODUCT
	<% elsif @investor.prize_id == 1 %>
	You won a shirt and a hat
	<% elsif @investor.prize_id == 3 %>
	You won a shirt or a hat
	<% elsif @investor.prize_id == 4 %>
	You didnt win shit.
	<% end %>
  
</p>

<p>
  <b>Prize2:</b>
  <%= @investor.prize2_id %>
</p>

<p>
  <b>Entries:</b>
  <%= @investor.entries %>
</p>

Today is day number: <%= @day.number %><br/>


<%= link_to 'Edit', edit_investor_path(@investor) %> |
<%= link_to 'Back', investors_path %>
-->